root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{csproj,wixproj,props,targets,yml,yaml,json,md}]
indent_size = 2

[*.sh]
end_of_line = lf

[*.sln]
indent_style = tab
